{% extends 'base.html' %}

{% block meta %}
<title>Registrasi Akun</title>
{% endblock meta %}

{% block content %}  

{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/style.css">
  
<title>Registrasi Akun</title>

</head>
<body>
<div class = "register" >

        <h1 >Formulir Registrasi</h1>  
    
            <form method="POST">  
                {% csrf_token %}  
                <table style="background-color: #84b6f4;">  
                    {{ form.as_table }}  
                </table>  
                <input type="submit" name="submit" value="Daftar" style="margin-top:20px; background-color: #3a8cd0; border: 1px solid #3a8cd0; font-family: Georgia, 'Times New Roman', Times, serif; padding: 10px; color: white;"/> 
            </form>
    
        {% if messages %}  
            <ul>   
                {% for message in messages %}  
                    <li>{{ message }}</li>  
                    {% endfor %}  
            </ul>   
        {% endif %}
    
    </div> 
{% endblock content %}